@import url('https://fonts.googleapis.com/css2?family=Cairo&family=Tajawal:wght@200;400&display=swap');
* {
    margin: 0;
    padding: 0;
    direction: rtl;
    font-family: 'Tajawal', sans-serif;
}

:root {
    --light: #ecf1f4;
    --white: #FFFFFF;
    --dark_blue: #023047;
    --light_blue: #219EBC;
    --light_blu: #8ECAE6;
    --beauty: #176c80;
}

 :root {
    --basic2: #03e9f4;
}

.loginContainer {
    font-family: sans-serif;
    background: var(--light);
    height: 100%;
    width: 100%;
}

.login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: var(--beauty);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
    border-radius: 10px;
}

.login_icon_box {
    background-color: var(--light);
    text-align: center;
    width: 77px;
    height: 77;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 4px 0px 0px var(--beauty);
    position: relative;
    right: 126px;
    top: -10px;
}

.login-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
}

.login-box .user-box {
    position: relative;
}

.login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
    outline: none;
}

.login-box .user-box label {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}

.login-box .user-box input:focus~label,
.login-box .user-box input:valid~label {
    top: -20px;
    left: 0;
    color: var(--basic2);
    font-size: 12px;
}

.login-box form input[type='submit'] {
    width: 100px;
    height: 23px;
}

a {
    color: white;
    text-decoration: none;
}

.login_links {
    display: flex;
    justify-content: space-between;
    margin-top: 7vh;
}

.login_links .btn {
    position: relative;
    transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);
    cursor: pointer;
    user-select: none;
    text-align: center;
    padding: 6px 1px;
    width: 116px;
    color: white;
}

.btn:before,
.btn:after {
    content: '';
    position: absolute;
    transition: inherit;
    z-index: -1;
}

.btn:hover {
    color: #176c80;
    transition-delay: .5s;
    background-color: var(--light);
}

.btn:hover:before {
    transition-delay: 0s;
}

.btn:hover:after {
    background: var(--basic2);
    transition-delay: .35s;
}


/* From Top */

.from-top:before,
.from-top:after {
    left: 0;
    height: 0;
    width: 100%;
}

.from-top:before {
    bottom: 0;
    border: 1px solid var(--basic2);
    border-top: 0;
    border-bottom: 0;
    color: white;
}

.from-top:after {
    top: 0;
    height: 0;
}

.from-top:hover:before,
.from-top:hover:after {
    height: 100%;
}


/**********************/

.btn-cont .btn {
    border: none;
    color: white;
    -webkit-font-smoothing: antialiased;
    margin-top: 8px;
    width: 100px;
    /* padding: 40px; */
    background: var(--light);
    box-sizing: border-box;
    box-shadow: 0 15px 25px #6f73766e;
    border-radius: 3px;
    height: 40px;
    border: 1px solid white;
    width: 100%;
    color: var(--beauty);
    font-weight: 800;
    font-size: 16px;
}

.btn-cont .btn:hover {
    border: none;
    background-color: #a9c0c6;
    color: var(--white);
}

.btn-cont .btn:hover .line-1 {
    -webkit-animation: move1 1500ms infinite ease;
    animation: move1 1500ms infinite ease;
}

.btn-cont .btn:hover .line-2 {
    -webkit-animation: move2 1500ms infinite ease;
    animation: move2 1500ms infinite ease;
}

.btn-cont .btn:hover .line-3 {
    -webkit-animation: move3 1500ms infinite ease;
    animation: move3 1500ms infinite ease;
}

.btn-cont .btn:hover .line-4 {
    -webkit-animation: move4 1500ms infinite ease;
    animation: move4 1500ms infinite ease;
}

.btn-cont .line-1 {
    content: "";
    display: block;
    position: absolute;
    width: 2px;
    background-color: var(--light);
    left: 0;
    bottom: 0;
}

.btn-cont .line-2 {
    content: "";
    display: block;
    position: absolute;
    height: 1px;
    background-color: var(--light);
    left: 0;
    top: 0;
}

.btn-cont .line-3 {
    content: "";
    display: block;
    position: absolute;
    width: 1px;
    background-color: var(--light);
    right: 0;
    top: 0;
}

.btn-cont .line-4 {
    content: "";
    display: block;
    position: absolute;
    height: 1px;
    background-color: var(--basic2);
    right: 0;
    bottom: 0;
}

@-webkit-keyframes move1 {
    0% {
        height: 100%;
        bottom: 0;
    }
    54% {
        height: 0;
        bottom: 100%;
    }
    55% {
        height: 0;
        bottom: 0;
    }
    100% {
        height: 100%;
        bottom: 0;
    }
}

@keyframes move1 {
    0% {
        height: 100%;
        bottom: 0;
    }
    54% {
        height: 0;
        bottom: 100%;
    }
    55% {
        height: 0;
        bottom: 0;
    }
    100% {
        height: 100%;
        bottom: 0;
    }
}

@-webkit-keyframes move2 {
    0% {
        width: 0;
        left: 0;
    }
    50% {
        width: 100%;
        left: 0;
    }
    100% {
        width: 0;
        left: 100%;
    }
}

@keyframes move2 {
    0% {
        width: 0;
        left: 0;
    }
    50% {
        width: 100%;
        left: 0;
    }
    100% {
        width: 0;
        left: 100%;
    }
}

@-webkit-keyframes move3 {
    0% {
        height: 100%;
        top: 0;
    }
    54% {
        height: 0;
        top: 100%;
    }
    55% {
        height: 0;
        top: 0;
    }
    100% {
        height: 100%;
        top: 0;
    }
}

@keyframes move3 {
    0% {
        height: 100%;
        top: 0;
    }
    54% {
        height: 0;
        top: 100%;
    }
    55% {
        height: 0;
        top: 0;
    }
    100% {
        height: 100%;
        top: 0;
    }
}

@-webkit-keyframes move4 {
    0% {
        width: 0;
        right: 0;
    }
    55% {
        width: 100%;
        right: 0;
    }
    100% {
        width: 0;
        right: 100%;
    }
}

@keyframes move4 {
    0% {
        width: 0;
        right: 0;
    }
    55% {
        width: 100%;
        right: 0;
    }
    100% {
        width: 0;
        right: 100%;
    }
}


/************/

.forget .user-box input {
    padding: 24px 0;
    outline: none;
}

.forget .user-box p {
    color: white;
}

a {
    color: white;
}


/************/

.verfy {
    color: var(--light);
}

.verfy button {
    text-decoration: none;
    background-color: var(--light);
    color: var(--beauty);
    height: 44px;
    width: 100%;
}

.verfy button:hover {
    background-color: var(--light_blue);
    color: var(--light);
}